*.obj
*.rdi
*.pdb
*.ilk
*.exe
*.vst3
*.exp
*.lib
*.manifest
*.json
*.exp
*.vst3
*.manifest
*.etl
*.lib
*.vsidx
*.db
*.db-shm
*.opendb
*.lock
*.sqlite
*.db-wal
*.d
*.o
.vs/
.vscode/

build/*
executables/
profile reports/
imgui.ini
tests/UPOLS_output.txt
experiments/baseIR_48.txt
experiments/baseIR_441.txt
